<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd    
    http://cxf.apache.org/jaxrs
    http://cxf.apache.org/schemas/jaxrs.xsd
    ">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    
    <context:annotation-config/>
    
    <bean id="opprettAvtaleTjeneste" class="test.aage.testcase1.intlayer.OpprettAvtaleTjeneste"/>
    <bean id="kundeFagSystem" class="test.aage.testcase1.fagsystem.KundeFagSystem"/>
    <bean id="avtaleFagSystem" class="test.aage.testcase1.fagsystem.AvtaleFagSystem"/>
    <bean id="brevSystem" class="test.aage.testcase1.fagsystem.BrevSystem"/>
      
    <bean id="intLayerApi" class="test.aage.testcase1.intlayer.IntLayerApi"/>
    <jaxrs:server id="restServer" address="/rest">
        <jaxrs:serviceBeans><ref bean="intLayerApi" /></jaxrs:serviceBeans>
        <jaxrs:providers>
           <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
        </jaxrs:providers>
    </jaxrs:server>
    
</beans>